.App {
  text-align: center;
}

/* heading */
#heading{
  margin-top: 0.5rem;
  font-size: 5rem;
  /* border: 1px solid white; */
  background-color: #444;
}


/* body */
body{
  background-color: #333;
  color:white;
}


/* col */
.col{
  margin-top: 20px;
}

/* card */
.card{
  background-color: #444;
  padding: 0.5rem;
  
}

/* card's button */
.button-section{
  display: flex;
  gap: 0.5rem;
}

.btn{
  width: 100%;
}

/* ADD DATA */
.AddData.card{
  border: 1px solid white;
}

input{
  border-style: none;
  background-color: transparent;
  color: white;
}

input:placeholder-shown{
  color: white;
}





/* TABLE */
tr:nth-child(odd){
  background-color: #322;
}

/* tr:nth-child(even){
  border-width:1px 0;
  border-style:solid;
  border-color:tomato ;
} */

table{
  margin-bottom: 3rem;
  width: 100%;
}

th{
  text-align: left;
  padding:0 0.5rem;
}
tr{
  text-align: left;
}



/* form */
form{
  margin: 0px;
  padding: 0px;
}


